.main-app {
    width: 100%;
    display: flex;
    margin-top: 60px;
            // ScrollBar
        /* width */
        ::-webkit-scrollbar {
            width: 5px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            background: whitesmoke;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: rgba(123, 124, 124, 0.952);
            border-radius: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: $primary;
        }

    .content {
        width: 100%;
        height: calc(100vh);
        margin-top: 40px;
        overflow-y: auto;
        padding-top: 5px;
        padding-right: 5px;
        background-color: whitesmoke;


        @include md {
            margin-top: 0;
            height: calc(100vh - 60px);
            width: 78%;
        }
    }
}